In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
import matplotlib.pyplot as plt

In [1]:
pip install wordcloud

Defaulting to user installation because normal site-packages is not writeable
Collecting wordcloud
  Using cached wordcloud-1.8.2.2.tar.gz (220 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy>=1.6.1 in c:\users\berna\appdata\roaming\python\python311\site-packages (from wordcloud) (1.24.1)
Requirement already satisfied: pillow in c:\users\berna\appdata\roaming\python\python311\site-packages (from wordcloud) (9.4.0)
Requirement already satisfied: matplotlib in c:\users\berna\appdata\roaming\python\python311\site-packages (from wordcloud) (3.6.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\berna\appdata\roaming\python\python311\site-packages (from matplotlib->wordcloud) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\users\berna\appdata\roaming\python\python311\site-packages (from matplotlib->wordcloud) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\berna\appdata\roaming\python\python311\site-packages (from matplotlib->wordcloud) (4.38.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\berna\appdata\roaming\python\python311\site-packages (from matplotlib->wordcloud) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\berna\appdata\roaming\python\python311\site-packages (from matplotlib->wordcloud) (23.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\berna\appdata\roaming\python\python311\site-packages (from matplotlib->wordcloud) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\berna\appdata\roaming\python\python311\site-packages (from matplotlib->wordcloud) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\berna\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.7->matplotlib->wordcloud) (1.16.0)
Installing collected packages: wordcloud
  Running setup.py install for wordcloud: started
  Running setup.py install for wordcloud: finished with status 'error'
Note: you may need to restart the kernel to use updated packages.

  DEPRECATION: wordcloud is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559
  error: subprocess-exited-with-error

  × Running setup.py install for wordcloud did not run successfully.
  │ exit code: 1
  ╰─> [22 lines of output]
      running install
      c:\Program Files\Python311\Lib\site-packages\setuptools\command\install.py:34: SetuptoolsDeprecationWarning: setup.py install is deprecated. Use build and pip and other standards-based tools.
        warnings.warn(
      running build
      running build_py
      creating build
      creating build\lib.win-amd64-cpython-311
      creating build\lib.win-amd64-cpython-311\wordcloud
      copying wordcloud\color_from_image.py -> build\lib.win-amd64-cpython-311\wordcloud
      copying wordcloud\tokenization.py -> build\lib.win-amd64-cpython-311\wordcloud
      copying wordcloud\wordcloud.py -> build\lib.win-amd64-cpython-311\wordcloud
      copying wordcloud\wordcloud_cli.py -> build\lib.win-amd64-cpython-311\wordcloud
      copying wordcloud\_version.py -> build\lib.win-amd64-cpython-311\wordcloud
      copying wordcloud\__init__.py -> build\lib.win-amd64-cpython-311\wordcloud
      copying wordcloud\__main__.py -> build\lib.win-amd64-cpython-311\wordcloud
      copying wordcloud\stopwords -> build\lib.win-amd64-cpython-311\wordcloud
      copying wordcloud\DroidSansMono.ttf -> build\lib.win-amd64-cpython-311\wordcloud
      UPDATING build\lib.win-amd64-cpython-311\wordcloud/_version.py
      set build\lib.win-amd64-cpython-311\wordcloud/_version.py to '1.8.2.2'
      running build_ext
      building 'wordcloud.query_integral_image' extension
      error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: legacy-install-failure

× Encountered error while trying to install package.
╰─> wordcloud

note: This is an issue with the package mentioned above, not pip.
hint: See above for output from the failure.

In [1]:
from wordcloud import WordCloud
from wordcloud import ImageColorGenerator
from wordcloud import STOPWORDS

ModuleNotFoundError: No module named 'wordcloud'

In [ ]:
#Cargamos los Datasets y vemos la informacion general.

In [5]:
coursera_c = pd.read_csv(r'C:\Users\berna\OneDrive\Documents\HENRY\LABS\PI03-Analytics\datasets_new\coursera_c1.csv')

In [9]:
coursera_c.head()

,name,institution
0,Machine Learning,Stanford University
1,Indigenous Canada,University of Alberta
2,The Science of Well-Being,Yale University
3,Technical Support Fundamentals,Google
4,Become a CBRS Certified Professional Installer...,Google - Spectrum Sharing

In [6]:
coursera_r = pd.read_csv(r'C:\Users\berna\OneDrive\Documents\HENRY\LABS\PI03-Analytics\datasets_new\coursera_r1.csv')

In [11]:
coursera_r.head()

                                             reviews  date_reviews  rating
0  Pretty dry, but I was able to pass with just t...  Feb 12, 2020       4
1  would be a better experience if the video and ...  Sep 28, 2020       4
2  Information was perfect! The program itself wa...  Apr 08, 2020       4
3  A few grammatical mistakes on test made me do ...  Feb 24, 2020       4
4  Excellent course and the training provided was...  Jun 18, 2020       4

In [18]:
edx = pd.read_csv(r'C:\Users\berna\OneDrive\Documents\HENRY\LABS\PI03-Analytics\datasets_new\edx_courses_1.csv')

In [19]:
#eliminacion del texto de la columna 'price'.
edx['price']=(edx['price'].str.extract('(\d+)'))
edx['price']=edx['price'].astype(int)

In [22]:
edx.head()

,title,n_enrolled,institution,subject,language,price
0,How to Learn Online,"124,980",edX,Education & Teacher Training,English,49
1,Programming for Everybody (Getting Started wit...,"293,864",The University of Michigan,Computer Science,English,49
2,CS50's Introduction to Computer Science,"2,442,271",Harvard University,Computer Science,English,90
3,The Analytics Edge,"129,555",Massachusetts Institute of Technology,Data Analysis & Statistics,English,199
4,Marketing Analytics: Marketing Measurement Str...,"81,140","University of California, Berkeley",Computer Science,English,249

In [24]:
edx.to_csv(r'C:\Users\berna\OneDrive\Documents\HENRY\LABS\PI03-Analytics\datasets_new\edx_courses_1.csv',index=False)

In [8]:
udemy = pd.read_csv(r'C:\Users\berna\OneDrive\Documents\HENRY\LABS\PI03-Analytics\datasets_new\udemy_courses_1.csv')

In [13]:
udemy.head()

                                        course_title  price  num_subscribers
0                 Ultimate Investment Banking Course    200             2147
1  Complete GST Course & Certification - Grow You...     75             2792
2  Financial Modeling for Business Analysts and C...     45             2174
3  Beginner to Pro - Financial Analysis in Excel ...     95             2451
4       How To Maximize Your Profits Trading Options    200             1276