Analisis Exploratorio de Datos = EDA

In [2]:
#importacion de las librerias
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
import matplotlib.pyplot as plt

In [4]:
#cargamos los datasets
coursera_c = pd.read_csv(r'C:\Users\berna\OneDrive\Documents\HENRY\LABS\PI03-Analytics\datasets\Coursera_courses.csv')
coursera_r = pd.read_csv(r'C:\Users\berna\OneDrive\Documents\HENRY\LABS\PI03-Analytics\datasets\Coursera_reviews.csv')
edx = pd.read_csv(r'C:\Users\berna\OneDrive\Documents\HENRY\LABS\PI03-Analytics\datasets\edx_courses.csv')
udemy =pd.read_csv(r'C:\Users\berna\OneDrive\Documents\HENRY\LABS\PI03-Analytics\datasets\udemy_courses.csv')

Observamos rapidamente el tipo y cantidad de datos que hay en las columnas y filas de los datasets.

In [5]:
coursera_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 623 entries, 0 to 622
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         623 non-null    object
 1   institution  623 non-null    object
 2   course_url   623 non-null    object
 3   course_id    623 non-null    object
dtypes: object(4)
memory usage: 19.6+ KB

In [28]:
coursera_c.head()

,name,institution
0,Machine Learning,Stanford University
1,Indigenous Canada,University of Alberta
2,The Science of Well-Being,Yale University
3,Technical Support Fundamentals,Google
4,Become a CBRS Certified Professional Installer...,Google - Spectrum Sharing

In [27]:
# Analizamos algunas metricas estadisticas en cada variable.
coursera_c.describe()

                              name                 institution
count                          623                         623
unique                         622                         134
top     Introduction to Psychology  University of Pennsylvania
freq                             2                          43

In [10]:
coursera_c.shape

(623, 4)

In [26]:
coursera_c.dtypes

name           object
institution    object
dtype: object

In [24]:
#eliminamos 2 columnas que 
# no consideramos necesarias para el analisis posterior.
coursera_c.drop(columns='course_url',inplace=True)
coursera_c.drop(columns='course_id',inplace=True)

In [31]:
#Salvo mi nueva set de Datos con las Trasformaciones
coursera_c.to_csv(r'C:\Users\berna\OneDrive\Documents\HENRY\LABS\PI03-Analytics\datasets_new\coursera_c1',index=False)

In [25]:
# Segundo datasets
coursera_r.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1454711 entries, 0 to 1454710
Data columns (total 5 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   reviews       1454571 non-null  object
 1   reviewers     1454711 non-null  object
 2   date_reviews  1454711 non-null  object
 3   rating        1454711 non-null  int64
 4   course_id     1454711 non-null  object
dtypes: int64(1), object(4)
memory usage: 55.5+ MB

In [74]:
coursera_r.head()

                                             reviews  date_reviews  rating
0  Pretty dry, but I was able to pass with just t...  Feb 12, 2020       4
1  would be a better experience if the video and ...  Sep 28, 2020       4
2  Information was perfect! The program itself wa...  Apr 08, 2020       4
3  A few grammatical mistakes on test made me do ...  Feb 24, 2020       4
4  Excellent course and the training provided was...  Jun 18, 2020       4

In [10]:
coursera_r.describe()

             rating
count  1.454711e+06
mean   4.696649e+00
std    6.983271e-01
min    1.000000e+00
25%    5.000000e+00
50%    5.000000e+00
75%    5.000000e+00
max    5.000000e+00

In [11]:
coursera_r.shape

(1454711, 5)

In [12]:
coursera_r.dtypes

reviews         object
reviewers       object
date_reviews    object
rating           int64
course_id       object
dtype: object

In [71]:
coursera_r.drop(columns='reviewers',inplace=True)

In [73]:
coursera_r.drop(columns='course_id',inplace=True)

In [43]:
#Salvo mi nueva set de datos con las Trasformaciones
coursera_r.to_csv(r'C:\Users\berna\OneDrive\Documents\HENRY\LABS\PI03-Analytics\datasets_new\coursera_r1',index=False)

In [75]:
edx.info

<bound method DataFrame.info of                                                  title  \
0                                  How to Learn Online
1    Programming for Everybody (Getting Started wit...
2              CS50's Introduction to Computer Science
3                                   The Analytics Edge
4    Marketing Analytics: Marketing Measurement Str...
..                                                 ...
970  Leaders in Citizen Security and Justice Manage...
971              Pattern Studying and Making | 图案审美与创作
972  Computational Neuroscience: Neuronal Dynamics ...
973  Cities and the Challenge of Sustainable Develo...
974                      MathTrackX: Special Functions

                                               summary n_enrolled  \
0    Learn essential strategies for successful onli...    124,980
1    This course is a "no prerequisite" introductio...    293,864
2    An introduction to the intellectual enterprise...  2,442,271
3    Through inspiring examples and stories, discov...    129,555
4       This course is part of a MicroMasters® Program     81,140
..                                                 ...        ...
970  Learn about the latest in prevention, police a...        NaN
971  Fantastic experiences in beauty and its repres...        NaN
972  This course explains the mathematical and comp...     11,246
973  What is a sustainable city? Learn the basics h...      8,775
974  Understand trigonometric, exponential and loga...        NaN

                             course_type  \
0                Self-paced on your time
1                Self-paced on your time
2                Self-paced on your time
3    Instructor-led on a course schedule
4                Self-paced on your time
..                                   ...
970              Self-paced on your time
971              Self-paced on your time
972              Self-paced on your time
973              Self-paced on your time
974              Self-paced on your time

                                  institution  \
0                                         edX
1                  The University of Michigan
2                          Harvard University
3       Massachusetts Institute of Technology
4          University of California, Berkeley
..                                        ...
970           Inter-American Development Bank
971                       Tsinghua University
972  École polytechnique fédérale de Lausanne
973                               SDG Academy
974                    University of Adelaide

                                           instructors         Level  \
0              Nina Huntemann-Robyn Belair-Ben Piscopo  Introductory
1                                    Charles Severance  Introductory
2                   David J. Malan-Doug Lloyd-Brian Yu  Introductory
3    Dimitris Bertsimas-Allison O'Hair-John Silberh...  Intermediate
4                                       Stephan Sorger  Introductory
..                                                 ...           ...
970  Olga Espinoza-Eduardo Pazinato-Alejandra Mera-...  Intermediate
971                                         Yuehua Nie  Introductory
972                                   Wulfram Gerstner      Advanced
973                                   Jeffrey D. Sachs  Introductory
974                                    Dr David Butler  Introductory

                          subject language    subtitles         course_effort  \
0    Education & Teacher Training  English      English    2–3 hours per week
1                Computer Science  English      English    2–4 hours per week
2                Computer Science  English      English   6–18 hours per week
3      Data Analysis & Statistics  English      English  10–15 hours per week
4                Computer Science  English      English    5–7 hours per week
..                            ...      ...          ...                   ...
970               Social Sciences  English      English    4–5 hours per week
971                 Art & Culture       中文  English, 中文    3–5 hours per week
972       Biology & Life Sciences  English      English    4–6 hours per week
973         Environmental Studies  English      English    1–2 hours per week
974                          Math  English      English    3–6 hours per week

    course_length                                         price  \
0         2 Weeks   FREE-Add a Verified Certificate for $49 USD
1         7 Weeks   FREE-Add a Verified Certificate for $49 USD
2        12 Weeks   FREE-Add a Verified Certificate for $90 USD
3        13 Weeks  FREE-Add a Verified Certificate for $199 USD
4         4 Weeks  FREE-Add a Verified Certificate for $249 USD
..            ...                                           ...
970      10 Weeks   FREE-Add a Verified Certificate for $25 USD
971      12 Weeks  FREE-Add a Verified Certificate for $139 USD
972       6 Weeks  FREE-Add a Verified Certificate for $139 USD
973       1 Weeks   FREE-Add a Verified Certificate for $25 USD
974       4 Weeks   FREE-Add a Verified Certificate for $79 USD

                                    course_description  \
0    Designed for those who are new to elearning, t...
1    This course aims to teach everyone the basics ...
2    This is CS50x , Harvard University's introduct...
3    In the last decade, the amount of data availab...
4    Begin your journey in a new career in marketin...
..                                                 ...
970  The high rates of crime and violence are two o...
971  Are you an original designer? Or a DIY fancier...
972  What happens in your brain when you make a dec...
973  According to the United Nations, urbanization ...
974  This course is part two of the MathTrackX XSer...

                                       course_syllabus  \
0    Welcome - We start with opportunities to meet ...
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
970                                                NaN
971                                                NaN
972  Textbook: Neuronal Dynamics - from single neur...
973  Module 1: Introduction to the SDGsProfessor Je...
974                                                NaN

                                            course_url
0       https://www.edx.org/course/how-to-learn-online
1    https://www.edx.org/course/programming-for-eve...
2    https://www.edx.org/course/cs50s-introduction-...
3        https://www.edx.org/course/the-analytics-edge
4    https://www.edx.org/course/marketing-analytics...
..                                                 ...
970  https://www.edx.org/course/leaders-in-citizen-...
971  https://www.edx.org/course/pattern-studying-an...
972  https://www.edx.org/course/computational-neuro...
973  https://www.edx.org/course/cities-and-the-chal...
974  https://www.edx.org/course/mathtrackx-special-...

[975 rows x 16 columns]>

In [169]:
edx.head(2)

,title,summary,n_enrolled,course_type,institution,instructors,Level,subject,language,subtitles,course_effort,course_length,price,course_description,course_syllabus,course_url
0,How to Learn Online,Learn essential strategies for successful onli...,"124,980",Self-paced on your time,edX,Nina Huntemann-Robyn Belair-Ben Piscopo,Introductory,Education & Teacher Training,English,English,2–3 hours per week,2 Weeks,FREE-Add a Verified Certificate for $49 USD,"Designed for those who are new to elearning, t...",Welcome - We start with opportunities to meet ...,https://www.edx.org/course/how-to-learn-online
1,Programming for Everybody (Getting Started wit...,"This course is a ""no prerequisite"" introductio...","293,864",Self-paced on your time,The University of Michigan,Charles Severance,Introductory,Computer Science,English,English,2–4 hours per week,7 Weeks,FREE-Add a Verified Certificate for $49 USD,This course aims to teach everyone the basics ...,NaN,https://www.edx.org/course/programming-for-eve...

In [113]:
#Ver las categorias de una variable.
edx['Level'].value_counts()

Introductory    621
Intermediate    267
Advanced         87
Name: Level, dtype: int64

In [170]:
edx.drop(columns='Level',inplace=True)

In [171]:
edx.drop(columns='course_effort',inplace=True)

In [174]:
edx.drop(columns='summary',inplace=True)

KeyError: "['summary'] not found in axis"

In [117]:
edx.drop(columns='course_url',inplace=True)

In [118]:
edx.drop(columns='course_syllabus',inplace=True)

In [119]:
edx.drop(columns='course_description',inplace=True)

In [123]:
edx.drop(columns='course_length',inplace=True)

In [126]:
edx.drop(columns='instructors',inplace=True)

In [129]:
edx.drop(columns='subtitles',inplace=True)

In [133]:
edx.drop(columns='course_type',inplace=True)

In [132]:
edx['course_type'].value_counts()

Self-paced on your time                917
Instructor-led on a course schedule     58
Name: course_type, dtype: int64

In [175]:
edx.head()

,title,n_enrolled,course_type,institution,instructors,subject,language,subtitles,course_length,price,course_description,course_syllabus,course_url
0,How to Learn Online,"124,980",Self-paced on your time,edX,Nina Huntemann-Robyn Belair-Ben Piscopo,Education & Teacher Training,English,English,2 Weeks,FREE-Add a Verified Certificate for $49 USD,"Designed for those who are new to elearning, t...",Welcome - We start with opportunities to meet ...,https://www.edx.org/course/how-to-learn-online
1,Programming for Everybody (Getting Started wit...,"293,864",Self-paced on your time,The University of Michigan,Charles Severance,Computer Science,English,English,7 Weeks,FREE-Add a Verified Certificate for $49 USD,This course aims to teach everyone the basics ...,NaN,https://www.edx.org/course/programming-for-eve...
2,CS50's Introduction to Computer Science,"2,442,271",Self-paced on your time,Harvard University,David J. Malan-Doug Lloyd-Brian Yu,Computer Science,English,English,12 Weeks,FREE-Add a Verified Certificate for $90 USD,"This is CS50x , Harvard University's introduct...",NaN,https://www.edx.org/course/cs50s-introduction-...
3,The Analytics Edge,"129,555",Instructor-led on a course schedule,Massachusetts Institute of Technology,Dimitris Bertsimas-Allison O'Hair-John Silberh...,Data Analysis & Statistics,English,English,13 Weeks,FREE-Add a Verified Certificate for $199 USD,"In the last decade, the amount of data availab...",NaN,https://www.edx.org/course/the-analytics-edge
4,Marketing Analytics: Marketing Measurement Str...,"81,140",Self-paced on your time,"University of California, Berkeley",Stephan Sorger,Computer Science,English,English,4 Weeks,FREE-Add a Verified Certificate for $249 USD,Begin your journey in a new career in marketin...,NaN,https://www.edx.org/course/marketing-analytics...

In [137]:
#Salvo mi nueva set de datos con las Trasformaciones
edx.to_csv(r'C:\Users\berna\OneDrive\Documents\HENRY\LABS\PI03-Analytics\datasets_new\edx_courses_1',index=False)

In [135]:
edx.shape

(975, 6)

In [104]:
edx.dtypes

title                 object
n_enrolled            object
course_type           object
institution           object
subject               object
language              object
subtitles             object
course_length         object
price                 object
course_description    object
dtype: object

In [15]:
udemy.info

<bound method DataFrame.info of       course_id                                       course_title  \
0       1070968                 Ultimate Investment Banking Course
1       1113822  Complete GST Course & Certification - Grow You...
2       1006314  Financial Modeling for Business Analysts and C...
3       1210588  Beginner to Pro - Financial Analysis in Excel ...
4       1011058       How To Maximize Your Profits Trading Options
...         ...                                                ...
3673     775618  Learn jQuery from Scratch - Master of JavaScri...
3674    1088178  How To Design A WordPress Website With No Codi...
3675     635248                      Learn and Build using Polymer
3676     905096  CSS Animations: Create Amazing Effects on Your...
3677     297602  Using MODX CMS to Build Websites: A Beginner's...

                                                    url  is_paid  price  \
0     https://www.udemy.com/ultimate-investment-bank...     True    200
1         https://www.udemy.com/goods-and-services-tax/     True     75
2     https://www.udemy.com/financial-modeling-for-b...     True     45
3     https://www.udemy.com/complete-excel-finance-c...     True     95
4     https://www.udemy.com/how-to-maximize-your-pro...     True    200
...                                                 ...      ...    ...
3673  https://www.udemy.com/easy-jquery-for-beginner...     True    100
3674  https://www.udemy.com/how-to-make-a-wordpress-...     True     25
3675  https://www.udemy.com/learn-and-build-using-po...     True     40
3676  https://www.udemy.com/css-animations-create-am...     True     50
3677  https://www.udemy.com/using-modx-cms-to-build-...     True     45

      num_subscribers  num_reviews  num_lectures               level  \
0                2147           23            51          All Levels
1                2792          923           274          All Levels
2                2174           74            51  Intermediate Level
3                2451           11            36          All Levels
4                1276           45            26  Intermediate Level
...               ...          ...           ...                 ...
3673             1040           14            21          All Levels
3674              306            3            42      Beginner Level
3675              513          169            48          All Levels
3676              300           31            38          All Levels
3677              901           36            20      Beginner Level

      content_duration   published_timestamp           subject
0                  1.5  2017-01-18T20:58:58Z  Business Finance
1                 39.0  2017-03-09T16:34:20Z  Business Finance
2                  2.5  2016-12-19T19:26:30Z  Business Finance
3                  3.0  2017-05-30T20:07:24Z  Business Finance
4                  2.0  2016-12-13T14:57:18Z  Business Finance
...                ...                   ...               ...
3673               2.0  2016-06-14T17:36:46Z   Web Development
3674               3.5  2017-03-10T22:24:30Z   Web Development
3675               3.5  2015-12-30T16:41:42Z   Web Development
3676               3.0  2016-08-11T19:06:15Z   Web Development
3677               2.0  2014-09-28T19:51:11Z   Web Development

[3678 rows x 12 columns]>

In [1]:
udemy.head()

NameError: name 'udemy' is not defined

In [168]:
#Salvo mi nueva set de datos con las Trasformaciones
udemy.to_csv(r'C:\Users\berna\OneDrive\Documents\HENRY\LABS\PI03-Analytics\datasets_new\udemy_courses_1',index=False)

In [147]:
udemy.drop(columns='url',inplace=True)

In [166]:
udemy.drop(columns='num_lectures',inplace=True)

In [165]:
udemy.drop(columns='num_reviews',inplace=True)

In [163]:
udemy.drop(columns='is_paid',inplace=True)

In [150]:
udemy.drop(columns='course_id',inplace=True)

In [153]:
udemy.drop(columns='level',inplace=True)

In [157]:
udemy.drop(columns='published_timestamp',inplace=True)

In [158]:
udemy.drop(columns='content_duration',inplace=True)

In [159]:
udemy.drop(columns='subject',inplace=True)

In [27]:
udemy.describe()

,course_id,price,num_subscribers,num_reviews,num_lectures,content_duration
count,3.678000e+03,3678.000000,3678.000000,3678.000000,3678.000000,3678.000000
mean,6.759720e+05,66.049483,3197.150625,156.259108,40.108755,4.094517
std,3.432732e+05,61.005755,9504.117010,935.452044,50.383346,6.053840
min,8.324000e+03,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.076925e+05,20.000000,111.000000,4.000000,15.000000,1.000000
50%,6.879170e+05,45.000000,911.500000,18.000000,25.000000,2.000000
75%,9.613555e+05,95.000000,2546.000000,67.000000,45.750000,4.500000
max,1.282064e+06,200.000000,268923.000000,27445.000000,779.000000,78.500000

In [161]:
udemy.shape

(3678, 6)

In [17]:
udemy.dtypes

course_id                int64
course_title            object
url                     object
is_paid                   bool
price                    int64
num_subscribers          int64
num_reviews              int64
num_lectures             int64
level                   object
content_duration       float64
published_timestamp     object
subject                 object
dtype: object

In [32]:
# Observamos la cantidad de datos nulos en cada variable.
# Vemos que en realidad no son muchos sin tener en cuanta las variables categoricas.
coursera_c.isnull().sum()

name           0
institution    0
course_url     0
course_id      0
dtype: int64

In [33]:
coursera_r.isnull().sum()

reviews         140
reviewers         0
date_reviews      0
rating            0
course_id         0
dtype: int64

In [34]:
edx.isnull().sum()

title                   0
summary                53
n_enrolled            120
course_type             0
institution             0
instructors             3
Level                   0
subject                 0
language                0
subtitles               3
course_effort           0
course_length           0
price                   0
course_description     40
course_syllabus       558
course_url              0
dtype: int64

In [35]:
udemy.isnull().sum()

course_id              0
course_title           0
url                    0
is_paid                0
price                  0
num_subscribers        0
num_reviews            0
num_lectures           0
level                  0
content_duration       0
published_timestamp    0
subject                0
dtype: int64